#top{
	height: 50px;
	
}
#friend{
	padding-top: 12px;
	padding-left: 25px;
}
#soyiso{
	margin-top: -40px;
	padding-left: 230px;
}
#so{
	width: 35px;
	height: 35px;
}
#ren{
	margin-top: -40px;
	padding-left: 280px;
}
#con{
	width: 35px;
	height: 35px;
}
#jia{
	margin-top: -40px;
	padding-left: 330px;
}
#jiatu{
	width: 35px;
	height: 35px;
}
#center{
	height: 100px;
}
#c1{
	height: 100%;
	width: 33%;
	text-align: center;
	float: left;
}
#c1 img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	
}
#sh{
	margin-top: -15px;
}

#next{
	margin-top: 25px;
	height: 350px;
	width: 100%;
}
#n{
	height: 20%;
	width: 100%;
}
#nimg{
	margin-top: 10px;
	margin-left: 20px;
	width: 40px;
	height: 40px;
	float: left;
}
#zhong{
	font-weight: bold;
	font-size: 16px;
}
#xia{
	font-size: 12px;
	margin-left: 70px;
	margin-top: -20px;
}
#bottom{
	width: 100%;
	height: 60px;
	position:absolute;
	left;0;
	bottom:0;
}
#b1{
	width: 20%;
	height: 100%;
	text-align: center;
	float: left;
}
#b1 img{
	width: 30px;
	height: 30px;
}
#e{
	margin-top: -6px;
	font-size: 15px;
}
